@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600 !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner {
  background-color: rgb(30, 37, 49);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner img {
  height: 31px;
  margin-bottom: 20px;
}
.title {
  color: rgb(19, 25, 35);
  font-size: 22px;
  margin: 35px 0px 35px;
}

.container {
  margin-left: 35%;
  border: rgb(255, 255, 255) solid 0.000001rem;
  min-height: 200px;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgb(19 25 35 / 13%) 0px 2px 15px 0px;
  overflow: scroll;
  margin-bottom: 4%;
}

.container-title {
  margin: 20px 0;
  color: rgb(19, 25, 35);
  font-size: 20px;
  border-bottom: 1px solid rgb(231, 233, 237);

  padding-bottom: 20px;
}

.container input {
  border-radius: 5px;
  height: 23px;
  margin-right: 5px;
  margin-top: 15px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.addButton {
  color: black;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 202, 57);
  border: 0;
  box-shadow: none;
  outline: none;
}
.addButton:hover {
  filter: brightness(0.8);
}
.addButton:active {
  filter: brightness(0.7);
}

.list li {
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list button {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: rgb(255, 202, 57);
  border: 0;
  box-shadow: none;
}
.list button:hover {
  filter: brightness(0.8);
}
.list button:active {
  filter: brightness(0.7);
}
.list-button {
  width: 30%;
}
.list-text {
  width: 70%;
  font-size: 16px !important;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 711px) and (max-width: 901px) {
  .container {
    width: 40%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 710px) {
  .container {
    width: 60%;
    margin-left: 20%;
  }
}
